body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#pet {
    width: 100px;
    height: 100px;
    position: fixed;
    background-image: url('assets/walk1.png');
    background-size: contain;
    background-repeat: no-repeat;
    will-change: transform, background-image, left, bottom;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    cursor: grab;
}

#pet.dragging {
    cursor: grabbing;
}